@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --color-primario: #5ba5ef;
    --color-secundario: #eeeeee;
    --color-terciario: #f8d859;
    --color-cuaternario: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-primario);
    height: 100vh;
    padding: 50px 130px;
}

.registro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 60px;
    height: 100%;
    background-color: var(--color-cuaternario);
    border-radius: 36px;
    box-shadow: 0px 0px 30px 10px #2b66ba;
}

.registro__formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--color-secundario);
    width: 550px;
    height: 600px;
    border-radius: 26px;
    border: 1px #696a6c solid;
    padding: 50px;
}

.registro__formulario--inputs {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.registro__formulario--inputs label {
    font-size: 19px;
}

.registro__formulario--inputs input {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 1px #2b66ba solid;
    padding: 10px;
    font-size: 16px;
    background-color: var(--color-cuaternario);
}

.registro__formulario--boton {
    display: flex;
    justify-content: center;
}

.registro__formulario--boton button {
    width: 50%;
    height: 50px;
    border-radius: 8px;
    border: 1px #2b66ba solid;
    cursor: pointer;
    background-color: var(--color-terciario);
    font-size: 20px;
}

.registro__formulario--boton button:hover {
    background-color: var(--color-primario);
    color: var(--color-cuaternario);
}

.registro__imagen {
    width: 350px;
    height: 350px;
}